body
{
    margin: 0;
  background: linear-gradient(100deg,rgb(156, 156, 198),orangered);
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-wlt-section {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px 40px;
  color: #ffffff;   
  line-height: 1.8;
  text-align: left;   /* 👈 important */
}


.about-wlt-section {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}


.Heading_Container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Heading_Container h3
{
    margin-bottom: 60px;
}



ul
{
    background-color: #1a1a1a;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 50px;
    
}

ul a
{
    color: antiquewhite;
    text-decoration: dashed;
    cursor: pointer;
    font-size: large;
    font-style: inherit;
    
}
